<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Vertical Timeline</title>
</head>
<body>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso Criado</h2>
				<p>Responsável: João Carlos</p>
				<span class="cd-date">Abr 04 07:00</span>
			</div> 
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Aguardando Distribuição Análise</h2>
				<p>Unidade: CGE/DPF</p>
				<span class="cd-date">Abr 04 07:00</span>
			</div>
		</div> 
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Aguardando Análise</h2>
				<p>Responsável: João Arthur</p>
				<span class="cd-date">Abr 05 14:00</span>
			</div>
		</div> 
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Aguardando Parecer</h2>
				<p>Responsável:Carlos Felipe</p>
				<span class="cd-date">Abr 06 09:00</span>
			</div>
		</div> 
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Em Verificação</h2>
				<p>Responsável:Carlos Felipe</p>
				<span class="cd-date">Abr 08 12:00</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Aguardando Autuação</h2>
				<p>Responsável:Carlos Felipe</p>
				<span class="cd-date">Abr 10 10:00</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-conduta">
				<img src="img/conduta.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Conduta</h2>
				<p>Detalhes da Conduta criada</p>
				<span class="cd-date">Abr 11 17:40</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-conduta">
				<img src="img/conduta.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Conduta</h2>
				<p>Detalhes da Conduta criada</p>
				<span class="cd-date">Abr 12 15:00</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Portaria criada</p>
				<span class="cd-date">Abr 13 10:00</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Em Andamento</h2>
				<p>Responsável:Carlos Felipe</p>
				<span class="cd-date">Abr 13 14:00</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-envolvido">
				<img src="img/envolvido.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Envolvido</h2>
				<p>Nome: Lucas (Testemunha)</p>
				<span class="cd-date">Abr 14 17:10</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Depoimento criada</p>
				<span class="cd-date">Abr 15 14:00</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-material">
				<img src="img/material.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Material</h2>
				<p>Detalhes do Material</p>
				<span class="cd-date">Abr 16 12:30</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-material">
				<img src="img/material.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Material</h2>
				<p>Detalhes do Material</p>
				<span class="cd-date">Abr 16 16:30</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Auto de Apreensão criada</p>
				<span class="cd-date">Abr 17 10:30</span>
			</div>
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Relatado</h2>
				<p>Responsável:Carlos Felipe</p>
				<span class="cd-date">Abr 18 11:00</span>
			</div>
		</div>
	</section> <!-- cd-timeline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
