<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Vertical Timeline</title>
</head>
<body>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso Criado</h2>
				<p>Responsável: João Arthur</p>
				<span class="cd-date">Abr 17 14:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Aguardando Análise</h2>
				<p>Responsável: João Arthur</p>
				<span class="cd-date">Abr 17 14:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Aguardando Parecer</h2>
				<p>Responsável: João Arthur</p>
				<span class="cd-date">Abr 18 09:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Memorando criada</p>
				<span class="cd-date">Abr 18 13:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Genérica criada</p>
				<span class="cd-date">Abr 18 17:00</span>
			</div> 
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Aguardando Autuação</h2>
				<p>Responsável: Carlos Felipe</p>
				<span class="cd-date">Abr 19 09:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-conduta">
				<img src="img/conduta.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Conduta</h2>
				<p>Detalhes da Conduta adicionada</p>
				<span class="cd-date">Abr 19 14:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-conduta">
				<img src="img/conduta.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Conduta</h2>
				<p>Detalhes da Conduta adicionada</p>
				<span class="cd-date">Abr 19 15:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-conduta">
				<img src="img/conduta.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Conduta</h2>
				<p>Detalhes da Conduta adicionada</p>
				<span class="cd-date">Abr 19 15:40</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Portaria criada</p>
				<span class="cd-date">Abr 20 09:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Genérica criada</p>
				<span class="cd-date">Abr 20 09:10</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-envolvido">
				<img src="img/envolvido.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Envolvido</h2>
				<p>Nome: Lucas (Testemunha)</p>
				<span class="cd-date">Abr 20 17:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-envolvido">
				<img src="img/envolvido.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Envolvido</h2>
				<p>Nome: André (Vítima)</p>
				<span class="cd-date">Abr 21 09:10</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Auto de Apreensão criada</p>
				<span class="cd-date">Abr 21 11:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-envolvido">
				<img src="img/envolvido.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Envolvido</h2>
				<p>Nome: Felipe (Testemunha)</p>
				<span class="cd-date">Abr 21 11:40</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-caso">
				<img src="img/caso.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Caso: Em Andamento</h2>
				<p>Responsável: Carlos Felipe</p>
				<span class="cd-date">Abr 22 14:00</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-material">
				<img src="img/material.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Material</h2>
				<p>Detalhes do Material apreendido</p>
				<span class="cd-date">Abr 25 10:10</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-material">
				<img src="img/material.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Material</h2>
				<p>Detalhes do Material apreendido</p>
				<span class="cd-date">Abr 25 12:15</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Depoimento criada.</p>
				<span class="cd-date">Abr 25 15:10</span>
			</div> 
		</div>
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-peca">
				<img src="img/peca.svg">
			</div>

			<div class="cd-timeline-content">
				<h2>Peça</h2>
				<p>Peça do tipo Depoimento criada.</p>
				<span class="cd-date">Abr 25 17:10</span>
			</div> 
		</div>
	</section> <!-- cd-timeline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>
